body {
    font-family: 'Dekko';
    background-image: url("maxresdefault\ \(1\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font-size: 60px;
    font-weight: bold;
}